:root {
  --button-color-primary-background: var(--background-primary-default);
  --button-color-primary-hover-background: var(--background-primary-strong);
  --button-color-primary-foreground: var(--foreground-on-primary);
  --button-color-primary-border: var(--border-primary-default);
  --button-color-primary-hover-border: var(--border-primary-strong);
  --button-color-utility-hover-background: var(--background-primary-subtle);
  --button-gap: var(--spacing-inline);
  --button-radius: var(--radius-control-md);
  --button-border-width: var(--border-default);
  --button-color-primary-hover-foreground: var(--foreground-on-primary);
  --button-color-secondary-background: var(--background-secondary-default);
  --button-color-secondary-hover-background: var(--background-secondary-strong);
  --button-color-secondary-foreground: var(--foreground-on-secondary);
  --button-color-secondary-hover-foreground: var(--foreground-on-secondary);
  --button-color-secondary-border: var(--border-secondary-default);
  --button-color-secondary-hover-border: var(--border-strong);
  --button-color-tertiary-background: var(--background-tertiary-default);
  --button-color-tertiary-hover-background: var(--background-secondary-strong);
  --button-color-tertiary-foreground: var(--foreground-default);
  --button-color-tertiary-hover-foreground: var(--foreground-default);
  --button-color-tertiary-border: var(--border-subtle);
  --button-color-tertiary-hover-border: var(--border-default);
  --button-color-utility-background: var(--background-tertiary-default);
  --button-color-utility-foreground: var(--foreground-primary-default);
  --button-color-utility-hover-foreground: var(--foreground-primary-strong);
  --button-color-utility-border: var(--border-primary-subtle);
  --button-color-utility-hover-border: var(--border-primary-default);
  --button-color-destructive-background: var(--background-destructive-default);
  --button-color-destructive-hover-background: var(--background-destructive-strong);
  --button-color-destructive-foreground: var(--foreground-on-destructive);
  --button-color-destructive-hover-foreground: var(--foreground-on-destructive);
  --button-color-destructive-border: var(--border-destructive-default);
  --button-color-destructive-hover-border: var(--border-destructive-strong);
  --button-space-sm-height: var(--height-control-sm);
  --button-space-sm-padding-x: var(--spacing-control-x-sm);
  --button-space-sm-padding-y: var(--spacing-control-y-sm);
  --button-space-md-height: var(--height-control-md);
  --button-space-md-padding-x: var(--spacing-control-x-md);
  --button-space-md-padding-y: var(--spacing-control-y-md);
  --button-space-lg-height: var(--height-control-lg);
  --button-space-lg-padding-x: var(--spacing-control-x-lg);
  --button-space-lg-padding-y: var(--spacing-control-y-lg);
  --button-color-primary-disabled-background: var(--background-primary-subtle);
  --button-color-primary-disabled-foreground: var(--foreground-primary-subtle);
  --button-color-primary-disabled-border: var(--border-primary-subtle);
  --button-color-secondary-disabled-background: var(--background-disabled);
  --button-color-secondary-disabled-foreground: var(--foreground-disabled);
  --button-color-secondary-disabled-border: var(--border-disabled);
  --button-color-tertiary-disabled-background: var(--background-disabled);
  --button-color-tertiary-disabled-foreground: var(--foreground-disabled);
  --button-color-tertiary-disabled-border: var(--border-disabled);
  --button-color-utility-disabled-background: var(--background-disabled);
  --button-color-utility-disabled-foreground: var(--foreground-disabled);
  --button-color-utility-disabled-border: var(--border-disabled);
  --button-color-destructive-disabled-background: var(--background-destructive-subtle);
  --button-color-destructive-disabled-foreground: var(--foreground-disabled);
  --button-color-destructive-disabled-border: var(--border-destructive-subtle);
  --button-size-sm-height: var(--height-control-sm);
  --button-size-md-height: var(--height-control-md);
  --button-size-lg-height: var(--height-control-lg);
  --button-size-sm-icon: var(--height-icon-sm);
  --button-size-md-icon: var(--height-icon-md);
  --button-size-lg-icon: var(--height-icon-lg);
}
