:root {
  --colors-steel-grey-50: oklch(96.5330% 0.0070 247.8972);
  --colors-steel-grey-100: oklch(91.1836% 0.0166 250.9255);
  --colors-steel-grey-200: oklch(82.8269% 0.0302 248.5972);
  --colors-steel-grey-300: oklch(72.4896% 0.0427 241.4641);
  --colors-steel-grey-400: oklch(61.4018% 0.0550 241.7670);
  --colors-steel-grey-500: oklch(51.4139% 0.0586 244.5822);
  --colors-steel-grey-600: oklch(43.7723% 0.0573 246.8492);
  --colors-steel-grey-700: oklch(36.3069% 0.0534 249.4918);
  --colors-steel-grey-800: oklch(28.7345% 0.0445 250.5066);
  --colors-steel-grey-900: oklch(22.2133% 0.0355 251.2730);
  --colors-steel-grey-950: oklch(16.9690% 0.0254 250.5273);
  --colors-arctic-blue-50: oklch(96.8930% 0.0117 238.7090);
  --colors-arctic-blue-100: oklch(92.1472% 0.0333 236.6857);
  --colors-arctic-blue-200: oklch(85.5812% 0.0635 235.6927);
  --colors-arctic-blue-300: oklch(77.4171% 0.1000 237.8065);
  --colors-arctic-blue-400: oklch(69.0078% 0.1328 242.0032);
  --colors-arctic-blue-500: oklch(61.0658% 0.1559 247.8566);
  --colors-arctic-blue-600: oklch(52.2809% 0.1415 250.0623);
  --colors-arctic-blue-700: oklch(43.3026% 0.1243 252.6153);
  --colors-arctic-blue-800: oklch(33.6681% 0.0965 253.7113);
  --colors-arctic-blue-900: oklch(25.1787% 0.0712 254.4702);
  --colors-arctic-blue-950: oklch(18.5597% 0.0471 253.1600);
  --colors-cerulean-50: oklch(96.0236% 0.0125 244.1220);
  --colors-cerulean-100: oklch(89.9810% 0.0364 239.3562);
  --colors-cerulean-200: oklch(81.6584% 0.0688 238.8726);
  --colors-cerulean-300: oklch(71.7861% 0.1055 241.1401);
  --colors-cerulean-400: oklch(62.1252% 0.1249 242.3453);
  --colors-cerulean-500: oklch(53.6893% 0.1351 247.2029);
  --colors-cerulean-600: oklch(45.9162% 0.1234 249.6940);
  --colors-cerulean-700: oklch(38.0074% 0.1076 252.0551);
  --colors-cerulean-800: oklch(29.6461% 0.0852 253.8126);
  --colors-cerulean-900: oklch(21.7872% 0.0602 254.7356);
  --colors-cerulean-950: oklch(16.5750% 0.0402 251.0120);
  --colors-evergreen-50: oklch(95.8659% 0.0118 169.6810);
  --colors-evergreen-100: oklch(90.3928% 0.0344 165.9904);
  --colors-evergreen-200: oklch(82.6383% 0.0630 168.8602);
  --colors-evergreen-300: oklch(73.1757% 0.0909 168.7366);
  --colors-evergreen-400: oklch(63.4709% 0.1070 167.9376);
  --colors-evergreen-500: oklch(54.3350% 0.1084 165.1992);
  --colors-evergreen-600: oklch(46.0560% 0.0924 164.8903);
  --colors-evergreen-700: oklch(37.4624% 0.0739 165.1224);
  --colors-evergreen-800: oklch(28.7197% 0.0545 165.3690);
  --colors-evergreen-900: oklch(21.1728% 0.0375 166.7965);
  --colors-evergreen-950: oklch(16.0930% 0.0265 171.4227);
  --colors-crimson-rose-50: oklch(96.1833% 0.0175 13.0280);
  --colors-crimson-rose-100: oklch(90.4379% 0.0451 12.8151);
  --colors-crimson-rose-200: oklch(82.4349% 0.0861 14.5035);
  --colors-crimson-rose-300: oklch(73.0846% 0.1383 16.6765);
  --colors-crimson-rose-400: oklch(64.4213% 0.1850 19.8266);
  --colors-crimson-rose-500: oklch(56.2244% 0.2081 24.2049);
  --colors-crimson-rose-600: oklch(48.6732% 0.1837 24.5520);
  --colors-crimson-rose-700: oklch(40.9610% 0.1542 24.7198);
  --colors-crimson-rose-800: oklch(31.8592% 0.1175 24.2236);
  --colors-crimson-rose-900: oklch(23.3362% 0.0821 22.6602);
  --colors-crimson-rose-950: oklch(16.7747% 0.0557 20.1883);
  --colors-amber-gold-50: oklch(98.0245% 0.0236 88.6036);
  --colors-amber-gold-100: oklch(95.1457% 0.0608 89.6655);
  --colors-amber-gold-200: oklch(90.6207% 0.1038 86.8666);
  --colors-amber-gold-300: oklch(85.2869% 0.1401 82.1993);
  --colors-amber-gold-400: oklch(79.6681% 0.1591 74.3453);
  --colors-amber-gold-500: oklch(72.7170% 0.1614 65.3341);
  --colors-amber-gold-600: oklch(62.1823% 0.1459 59.1777);
  --colors-amber-gold-700: oklch(51.3006% 0.1244 55.9073);
  --colors-amber-gold-800: oklch(39.5107% 0.0971 54.4142);
  --colors-amber-gold-900: oklch(27.9557% 0.0673 55.6446);
  --colors-amber-gold-950: oklch(20.4706% 0.0466 60.4519);
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-128: 128px;
  --size-0: 0px;
  --size-1: 1px;
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-44: 44px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-80: 80px;
  --size-96: 96px;
  --size-128: 128px;
  --spacing-2: 2px;
  --spacing-1: 1px;
  --spacing-0: 0px;
  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-full: 9999px;
  --border-0: 0px;
  --border-1: 1px;
  --border-2: 2px;
  --border-4: 4px;
  --opacity-0: 0px;
  --opacity-10: 0.10000000149011612px;
  --opacity-20: 0.20000000298023224px;
  --opacity-30: 0.30000001192092896px;
  --opacity-40: 0.4000000059604645px;
  --opacity-50: 0.5px;
  --opacity-60: 0.6000000238418579px;
  --opacity-70: 0.699999988079071px;
  --opacity-80: 0.800000011920929px;
  --opacity-90: 0.8999999761581421px;
  --opacity-100: 1px;
  --typography-font-family-sans: Roboto;
  --typography-font-family-serif: Playfair Display;
  --typography-font-family-mono: Roboto Mono;
  --typography-font-size-10: 10px;
  --typography-font-size-12: 12px;
  --typography-font-size-14: 14px;
  --typography-font-size-16: 16px;
  --typography-font-size-18: 18px;
  --typography-font-size-20: 20px;
  --typography-font-size-24: 24px;
  --typography-font-size-28: 28px;
  --typography-font-size-32: 32px;
  --typography-font-size-36: 36px;
  --typography-font-size-48: 48px;
  --typography-font-size-60: 60px;
  --typography-font-size-72: 72px;
  --typography-letter-spacing--2: -2px;
  --typography-letter-spacing--1: -1px;
  --typography-letter-spacing-0: 0px;
  --typography-letter-spacing-1: 1px;
  --typography-letter-spacing-2: 2px;
  --typography-letter-spacing-4: 4px;
  --typography-line-height-100: 100px;
  --typography-line-height-110: 110px;
  --typography-line-height-125: 125px;
  --typography-line-height-150: 150px;
  --typography-line-height-175: 175px;
  --typography-line-height-200: 200px;
  --typography-font-style-thin: Thin;
  --typography-font-style-light: Light;
  --typography-font-style-regular: Regular;
  --typography-font-style-medium: Medium;
  --typography-font-style-semi-bold: Semi Bold;
  --typography-font-style-bold: Bold;
  --typography-font-style-black: Black;
  --typography-font-style-thin-italic: Thin Italic;
  --typography-font-style-light-italic: Light Italic;
  --typography-font-style-italic: Italic;
  --typography-font-style-medium-italic: Medium Italic;
  --typography-font-style-semi-bold-italic: Semi Bold Italic;
  --typography-font-style-bold-italic: Bold Italic;
  --typography-font-style-black-italic: Black Italic;
  --colors-white: oklch(100.0000% 0.0000 0);
}
