:root {
  --title-hero-font-family: var(--typography-font-family-sans);
  --title-hero-font-size: var(--typography-font-size-60);
  --title-hero-font-weight: var(--typography-font-style-regular);
  --title-hero-font-weight-strong: var(--typography-font-style-bold);
  --title-hero-line-height: var(--typography-line-height-110);
  --title-hero-letter-spacing: var(--typography-letter-spacing--2);
  --title-page-font-family: var(--typography-font-family-sans);
  --title-page-font-size: var(--typography-font-size-36);
  --title-page-font-weight: var(--typography-font-style-regular);
  --title-page-font-weight-strong: var(--typography-font-style-bold);
  --title-page-line-height: var(--typography-line-height-110);
  --title-page-letter-spacing: var(--typography-letter-spacing--1);
  --subtitle-font-family: var(--typography-font-family-sans);
  --subtitle-font-size: var(--typography-font-size-24);
  --subtitle-font-weight: var(--typography-font-style-regular);
  --subtitle-font-weight-strong: var(--typography-font-style-bold);
  --subtitle-line-height: var(--typography-line-height-125);
  --subtitle-letter-spacing: var(--typography-letter-spacing-0);
  --heading-font-family: var(--typography-font-family-sans);
  --heading-font-size: var(--typography-font-size-20);
  --heading-font-weight: var(--typography-font-style-regular);
  --heading-font-weight-strong: var(--typography-font-style-bold);
  --heading-line-height: var(--typography-line-height-125);
  --heading-letter-spacing: var(--typography-letter-spacing-0);
  --subheading-font-family: var(--typography-font-family-sans);
  --subheading-font-size: var(--typography-font-size-18);
  --subheading-font-weight: var(--typography-font-style-regular);
  --subheading-font-weight-strong: var(--typography-font-style-bold);
  --subheading-line-height: var(--typography-line-height-125);
  --subheading-letter-spacing: var(--typography-letter-spacing-0);
  --body-font-family: var(--typography-font-family-sans);
  --body-font-size: var(--typography-font-size-16);
  --body-font-weight: var(--typography-font-style-regular);
  --body-font-weight-strong: var(--typography-font-style-bold);
  --body-font-style-italic: var(--typography-font-style-italic);
  --body-line-height: var(--typography-line-height-150);
  --body-letter-spacing: var(--typography-letter-spacing-0);
  --label-font-family: var(--typography-font-family-sans);
  --label-font-size: var(--typography-font-size-14);
  --label-font-weight: var(--typography-font-style-regular);
  --label-font-weight-strong: var(--typography-font-style-bold);
  --label-line-height: var(--typography-line-height-125);
  --label-letter-spacing: var(--typography-letter-spacing-1);
  --caption-font-family: var(--typography-font-family-sans);
  --caption-font-size: var(--typography-font-size-12);
  --caption-font-weight: var(--typography-font-style-regular);
  --caption-font-weight-strong: var(--typography-font-style-medium);
  --caption-line-height: var(--typography-line-height-150);
  --caption-letter-spacing: var(--typography-letter-spacing-1);
  --code-font-family: var(--typography-font-family-mono);
  --code-font-size: var(--typography-font-size-14);
  --code-font-weight: var(--typography-font-style-regular);
  --code-line-height: var(--typography-line-height-150);
  --code-letter-spacing: var(--typography-letter-spacing-0);
  --section-title-font-family: var(--typography-font-family-sans);
  --section-title-font-size: var(--typography-font-size-16);
  --section-title-font-weight: var(--typography-font-style-regular);
  --section-title-font-weight-strong: var(--typography-font-style-bold);
  --section-title-line-height: var(--typography-line-height-125);
  --section-title-letter-spacing: var(--typography-letter-spacing-2);
}
