:root {
  --background-primary-default: var(--colors-cerulean-100);
  --background-primary-muted: var(--colors-arctic-blue-50);
  --background-destructive-default: var(--colors-crimson-rose-500);
  --background-destructive-muted: var(--colors-crimson-rose-50);
  --background-warning-default: var(--colors-amber-gold-400);
  --background-warning-muted: var(--colors-amber-gold-50);
  --background-success-default: var(--colors-evergreen-500);
  --background-success-muted: var(--colors-evergreen-50);
  --background-info-default: var(--colors-cerulean-500);
  --background-info-muted: var(--colors-cerulean-50);
  --background-inverse: var(--colors-steel-grey-950);
  --background-disabled: var(--colors-steel-grey-100);
  --foreground-default: var(--colors-steel-grey-900);
  --foreground-primary-default: var(--colors-arctic-blue-600);
  --foreground-destructive-default: var(--colors-crimson-rose-600);
  --foreground-warning-default: var(--colors-amber-gold-700);
  --foreground-success-default: var(--colors-evergreen-700);
  --foreground-info-default: var(--colors-cerulean-700);
  --foreground-on-primary: var(--colors-steel-grey-950);
  --foreground-on-destructive: var(--colors-steel-grey-50);
  --foreground-on-inverse: var(--colors-steel-grey-50);
  --foreground-disabled: var(--colors-steel-grey-300);
  --border-default: var(--colors-steel-grey-200);
  --border-emphasis: var(--colors-steel-grey-400);
  --border-primary-default: var(--colors-arctic-blue-500);
  --border-destructive-default: var(--colors-crimson-rose-500);
  --border-warning-default: var(--colors-amber-gold-400);
  --border-success-default: var(--colors-evergreen-500);
  --border-info-default: var(--colors-cerulean-500);
  --border-disabled: var(--colors-steel-grey-200);
  --background-default: var(--colors-white);
  --background-raised: var(--colors-steel-grey-100);
  --background-secondary-emphasis: var(--colors-steel-grey-200);
  --background-primary-emphasis: var(--colors-arctic-blue-200);
  --background-destructive-emphasis: var(--colors-crimson-rose-600);
  --background-warning-emphasis: var(--colors-amber-gold-600);
  --background-success-emphasis: var(--colors-evergreen-600);
  --background-info-emphasis: var(--colors-cerulean-600);
  --foreground-emphasis: var(--colors-steel-grey-950);
  --border-primary-muted: var(--colors-arctic-blue-200);
  --border-primary-emphasis: var(--colors-arctic-blue-700);
  --border-destructive-muted: var(--colors-crimson-rose-200);
  --border-destructive-emphasis: var(--colors-crimson-rose-700);
  --border-warning-muted: var(--colors-amber-gold-200);
  --border-warning-emphasis: var(--colors-amber-gold-800);
  --border-success-muted: var(--colors-evergreen-200);
  --border-success-emphasis: var(--colors-evergreen-800);
  --border-info-muted: var(--colors-cerulean-200);
  --border-info-emphasis: var(--colors-cerulean-800);
  --background-secondary-muted: var(--colors-steel-grey-50);
  --background-secondary-default: var(--colors-steel-grey-100);
  --background-overlay: var(--colors-steel-grey-50);
  --background-tertiary-muted: var(--colors-steel-grey-50);
  --background-tertiary-default: var(--colors-steel-grey-50);
  --background-tertiary-emphasis: var(--colors-steel-grey-100);
  --foreground-on-secondary: var(--colors-steel-grey-900);
  --foreground-on-tertiary: var(--colors-steel-grey-900);
  --background-scrim: var(--colors-steel-grey-950);
  --border-muted: var(--colors-steel-grey-100);
  --background-sunken: var(--colors-steel-grey-200);
  --foreground-on-warning: var(--colors-steel-grey-950);
  --foreground-on-success: var(--colors-steel-grey-50);
  --foreground-on-info: var(--colors-steel-grey-50);
  --foreground-muted: var(--colors-steel-grey-600);
  --border-focus: var(--colors-arctic-blue-500);
  --foreground-primary-muted: var(--colors-arctic-blue-200);
  --foreground-primary-emphasis: var(--colors-arctic-blue-700);
  --foreground-destructive-muted: var(--colors-crimson-rose-200);
  --foreground-destructive-emphasis: var(--colors-crimson-rose-700);
  --foreground-warning-muted: var(--colors-amber-gold-200);
  --foreground-warning-emphasis: var(--colors-amber-gold-800);
  --foreground-success-muted: var(--colors-evergreen-200);
  --foreground-success-emphasis: var(--colors-evergreen-800);
  --foreground-info-muted: var(--colors-cerulean-200);
  --foreground-info-emphasis: var(--colors-cerulean-800);
  --border-secondary-muted: var(--colors-steel-grey-50);
  --border-secondary-default: var(--colors-steel-grey-100);
  --border-secondary-emphasis: var(--colors-steel-grey-200);
  --border-tertiary-muted: var(--colors-steel-grey-50);
  --border-tertiary-default: var(--colors-steel-grey-50);
  --border-tertiary-emphasis: var(--colors-steel-grey-100);
  --background-error-muted: var(--colors-crimson-rose-50);
  --background-error-default: var(--colors-crimson-rose-500);
  --background-error-emphasis: var(--colors-crimson-rose-600);
  --foreground-error-muted: var(--colors-crimson-rose-200);
  --foreground-error-default: var(--colors-crimson-rose-500);
  --foreground-error-emphasis: var(--colors-crimson-rose-700);
  --border-error-muted: var(--colors-crimson-rose-200);
  --border-error-default: var(--colors-crimson-rose-500);
  --border-error-emphasis: var(--colors-crimson-rose-700);
  --foreground-on-error: var(--colors-steel-grey-50);
  --shadow-raised: oklch(16.9690% 0.0254 250.5273 / 0.1200);
  --shadow-overlay: oklch(16.9690% 0.0254 250.5273 / 0.2400);
  --shadow-sticky: oklch(16.9690% 0.0254 250.5273 / 0.1400);
  --shadow-focus: oklch(61.0658% 0.1559 247.8566 / 0.4000);
  --color-transparent: oklch(0.0000% 0.0000 0 / 0.0000);
}

[data-theme="dark"] {
  --background-primary-default: var(--colors-cerulean-800);
  --background-primary-muted: var(--colors-arctic-blue-950);
  --background-destructive-default: var(--colors-crimson-rose-500);
  --background-destructive-muted: var(--colors-crimson-rose-900);
  --background-warning-default: var(--colors-amber-gold-400);
  --background-warning-muted: var(--colors-amber-gold-900);
  --background-success-default: var(--colors-evergreen-500);
  --background-success-muted: var(--colors-evergreen-900);
  --background-info-default: var(--colors-cerulean-500);
  --background-info-muted: var(--colors-cerulean-950);
  --background-inverse: var(--colors-white);
  --background-disabled: var(--colors-steel-grey-800);
  --foreground-default: var(--colors-steel-grey-50);
  --foreground-primary-default: var(--colors-arctic-blue-400);
  --foreground-destructive-default: var(--colors-crimson-rose-400);
  --foreground-warning-default: var(--colors-amber-gold-300);
  --foreground-success-default: var(--colors-evergreen-300);
  --foreground-info-default: var(--colors-cerulean-300);
  --foreground-on-primary: var(--colors-steel-grey-50);
  --foreground-on-destructive: var(--colors-steel-grey-50);
  --foreground-on-inverse: var(--colors-steel-grey-900);
  --foreground-disabled: var(--colors-steel-grey-400);
  --border-default: var(--colors-steel-grey-700);
  --border-emphasis: var(--colors-steel-grey-500);
  --border-primary-default: var(--colors-arctic-blue-400);
  --border-destructive-default: var(--colors-crimson-rose-400);
  --border-warning-default: var(--colors-amber-gold-300);
  --border-success-default: var(--colors-evergreen-400);
  --border-info-default: var(--colors-cerulean-400);
  --border-disabled: var(--colors-steel-grey-700);
  --background-default: var(--colors-steel-grey-950);
  --background-raised: var(--colors-steel-grey-900);
  --background-secondary-emphasis: var(--colors-steel-grey-700);
  --background-primary-emphasis: var(--colors-cerulean-700);
  --background-destructive-emphasis: var(--colors-crimson-rose-600);
  --background-warning-emphasis: var(--colors-amber-gold-600);
  --background-success-emphasis: var(--colors-evergreen-600);
  --background-info-emphasis: var(--colors-cerulean-600);
  --foreground-emphasis: var(--colors-white);
  --border-primary-muted: var(--colors-arctic-blue-800);
  --border-primary-emphasis: var(--colors-arctic-blue-300);
  --border-destructive-muted: var(--colors-crimson-rose-700);
  --border-destructive-emphasis: var(--colors-crimson-rose-300);
  --border-warning-muted: var(--colors-amber-gold-800);
  --border-warning-emphasis: var(--colors-amber-gold-200);
  --border-success-muted: var(--colors-evergreen-700);
  --border-success-emphasis: var(--colors-evergreen-300);
  --border-info-muted: var(--colors-cerulean-700);
  --border-info-emphasis: var(--colors-cerulean-300);
  --background-secondary-muted: var(--colors-steel-grey-900);
  --background-secondary-default: var(--colors-steel-grey-800);
  --background-overlay: var(--colors-steel-grey-800);
  --background-tertiary-muted: var(--colors-steel-grey-900);
  --background-tertiary-default: var(--colors-steel-grey-900);
  --background-tertiary-emphasis: var(--colors-steel-grey-800);
  --foreground-on-secondary: var(--colors-steel-grey-50);
  --foreground-on-tertiary: var(--colors-steel-grey-50);
  --background-scrim: var(--colors-steel-grey-950);
  --border-muted: var(--colors-steel-grey-800);
  --background-sunken: var(--colors-steel-grey-950);
  --foreground-on-warning: var(--colors-steel-grey-950);
  --foreground-on-success: var(--colors-steel-grey-50);
  --foreground-on-info: var(--colors-steel-grey-50);
  --foreground-muted: var(--colors-steel-grey-400);
  --border-focus: var(--colors-arctic-blue-400);
  --foreground-primary-muted: var(--colors-arctic-blue-700);
  --foreground-primary-emphasis: var(--colors-arctic-blue-300);
  --foreground-destructive-muted: var(--colors-crimson-rose-700);
  --foreground-destructive-emphasis: var(--colors-crimson-rose-300);
  --foreground-warning-muted: var(--colors-amber-gold-700);
  --foreground-warning-emphasis: var(--colors-amber-gold-200);
  --foreground-success-muted: var(--colors-evergreen-700);
  --foreground-success-emphasis: var(--colors-evergreen-200);
  --foreground-info-muted: var(--colors-cerulean-700);
  --foreground-info-emphasis: var(--colors-cerulean-200);
  --border-secondary-muted: var(--colors-steel-grey-800);
  --border-secondary-default: var(--colors-steel-grey-700);
  --border-secondary-emphasis: var(--colors-steel-grey-600);
  --border-tertiary-muted: var(--colors-steel-grey-800);
  --border-tertiary-default: var(--colors-steel-grey-800);
  --border-tertiary-emphasis: var(--colors-steel-grey-700);
  --background-error-muted: var(--colors-crimson-rose-900);
  --background-error-default: var(--colors-crimson-rose-500);
  --background-error-emphasis: var(--colors-crimson-rose-600);
  --foreground-error-muted: var(--colors-crimson-rose-700);
  --foreground-error-default: var(--colors-crimson-rose-400);
  --foreground-error-emphasis: var(--colors-crimson-rose-300);
  --border-error-muted: var(--colors-crimson-rose-700);
  --border-error-default: var(--colors-crimson-rose-400);
  --border-error-emphasis: var(--colors-crimson-rose-300);
  --foreground-on-error: var(--colors-steel-grey-50);
  --shadow-raised: oklch(100.0000% 0.0000 0 / 0.0800);
  --shadow-overlay: oklch(100.0000% 0.0000 0 / 0.1600);
  --shadow-sticky: oklch(100.0000% 0.0000 0 / 0.1000);
  --shadow-focus: oklch(61.0658% 0.1559 247.8566 / 0.5000);
  --color-transparent: oklch(0.0000% 0.0000 0 / 0.0000);
}
