:root {
  --background-primary-default: var(--colors-cerulean-100);
  --background-primary-subtle: var(--colors-arctic-blue-50);
  --background-destructive-default: var(--colors-crimson-rose-500);
  --background-destructive-subtle: var(--colors-crimson-rose-50);
  --background-warning-default: var(--colors-amber-gold-400);
  --background-warning-subtle: var(--colors-amber-gold-50);
  --background-success-default: var(--colors-evergreen-500);
  --background-success-subtle: var(--colors-evergreen-50);
  --background-info-default: var(--colors-cerulean-500);
  --background-info-subtle: var(--colors-cerulean-50);
  --background-inverse: var(--colors-steel-grey-950);
  --background-disabled: var(--colors-steel-grey-100);
  --foreground-default: var(--colors-steel-grey-900);
  --foreground-primary-default: var(--colors-arctic-blue-600);
  --foreground-destructive-default: var(--colors-crimson-rose-600);
  --foreground-warning-default: var(--colors-amber-gold-700);
  --foreground-success-default: var(--colors-evergreen-700);
  --foreground-info-default: var(--colors-cerulean-700);
  --foreground-on-primary: var(--colors-steel-grey-50);
  --foreground-on-destructive: var(--colors-steel-grey-50);
  --foreground-on-inverse: var(--colors-steel-grey-50);
  --foreground-disabled: var(--colors-steel-grey-300);
  --border-default: var(--colors-steel-grey-200);
  --border-strong: var(--colors-steel-grey-400);
  --border-primary-default: var(--colors-arctic-blue-500);
  --border-destructive-default: var(--colors-crimson-rose-500);
  --border-warning-default: var(--colors-amber-gold-400);
  --border-success-default: var(--colors-evergreen-500);
  --border-info-default: var(--colors-cerulean-500);
  --border-disabled: var(--colors-steel-grey-200);
  --background-default: var(--colors-white);
  --background-raised: var(--colors-steel-grey-100);
  --background-secondary-strong: var(--colors-steel-grey-200);
  --background-primary-strong: var(--colors-arctic-blue-200);
  --background-destructive-strong: var(--colors-crimson-rose-600);
  --background-warning-strong: var(--colors-amber-gold-600);
  --background-success-strong: var(--colors-evergreen-600);
  --background-info-strong: var(--colors-cerulean-600);
  --foreground-emphasis: var(--colors-steel-grey-950);
  --border-primary-subtle: var(--colors-arctic-blue-200);
  --border-primary-strong: var(--colors-arctic-blue-700);
  --border-destructive-subtle: var(--colors-crimson-rose-200);
  --border-destructive-strong: var(--colors-crimson-rose-700);
  --border-warning-subtle: var(--colors-amber-gold-200);
  --border-warning-strong: var(--colors-amber-gold-800);
  --border-success-subtle: var(--colors-evergreen-200);
  --border-success-strong: var(--colors-evergreen-800);
  --border-info-subtle: var(--colors-cerulean-200);
  --border-info-strong: var(--colors-cerulean-800);
  --background-secondary-subtle: var(--colors-steel-grey-50);
  --background-secondary-default: var(--colors-steel-grey-100);
  --background-overlay: var(--colors-steel-grey-50);
  --background-tertiary-subtle: var(--colors-steel-grey-50);
  --background-tertiary-default: var(--colors-steel-grey-50);
  --background-tertiary-strong: var(--colors-steel-grey-100);
  --foreground-on-secondary: var(--colors-steel-grey-900);
  --foreground-on-tertiary: var(--colors-steel-grey-900);
  --background-scrim: var(--colors-steel-grey-950);
  --border-subtle: var(--colors-steel-grey-100);
  --background-sunken: var(--colors-steel-grey-200);
  --foreground-on-warning: var(--colors-steel-grey-950);
  --foreground-on-success: var(--colors-steel-grey-950);
  --foreground-on-info: var(--colors-steel-grey-50);
  --foreground-muted: var(--colors-steel-grey-500);
  --border-focus: var(--colors-arctic-blue-500);
  --foreground-primary-subtle: var(--colors-arctic-blue-200);
  --foreground-primary-strong: var(--colors-arctic-blue-700);
  --foreground-destructive-subtle: var(--colors-crimson-rose-200);
  --foreground-destructive-strong: var(--colors-crimson-rose-700);
  --foreground-warning-subtle: var(--colors-amber-gold-200);
  --foreground-warning-strong: var(--colors-amber-gold-800);
  --foreground-success-subtle: var(--colors-evergreen-200);
  --foreground-success-strong: var(--colors-evergreen-800);
  --foreground-info-subtle: var(--colors-cerulean-200);
  --foreground-info-strong: var(--colors-cerulean-800);
  --border-secondary-subtle: var(--colors-steel-grey-50);
  --border-secondary-default: var(--colors-steel-grey-100);
  --border-secondary-strong: var(--colors-steel-grey-200);
  --border-tertiary-subtle: var(--colors-steel-grey-50);
  --border-tertiary-default: var(--colors-steel-grey-50);
  --border-tertiary-strong: var(--colors-steel-grey-100);
  --background-error-subtle: var(--colors-crimson-rose-50);
  --background-error-default: var(--colors-crimson-rose-500);
  --background-error-strong: var(--colors-crimson-rose-600);
  --foreground-error-subtle: var(--colors-crimson-rose-200);
  --foreground-error-default: var(--colors-crimson-rose-500);
  --foreground-error-strong: var(--colors-crimson-rose-700);
  --border-error-subtle: var(--colors-crimson-rose-200);
  --border-error-default: var(--colors-crimson-rose-500);
  --border-error-strong: var(--colors-crimson-rose-700);
  --foreground-on-error: var(--colors-steel-grey-50);
}
